.benefit-container {
    width: 100%;

    .benefit-section {
        height: 704px;
        display: flex;
        align-items: center;

        .adaptive-btn {
            display: none;
        }

        @media (max-width: 1280px) {
            width: 658px;
            margin: 0 auto;
            height: auto;
            padding: 80px 0px;
            
            .adaptive-btn {
                display: block;
            }

            .text-block {
                width: 100%;
                .custom-button {
                    display: none;
                }
            }

            .custom-button {
                width: 317px;

                @media (max-width: 768px) {
                    width: 100%;
                }
                
            }

            .user-case-card {
                width: 100%;
                margin-bottom: 40px;

                .user-case-content{
                    width: calc(100% - 3px);
                }
            }
        }

        @media (max-width: 960px) {
            padding: 80px 40px;
        }

 
        @media (max-width: 768px) {
            width: 100%;
            text-align: center;

        }

        @media (max-width: 480px) {
            padding: 60px 20px;

            .user-case-card {
                margin-bottom: 30px;

            }
         }

        .benefit-content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;

            
            @media (max-width: 1280px) {
                flex-direction: column-reverse;
                align-items: flex-start;
                
                .arrow {
                    display: none;
                }
            }

            @media (max-width: 768px) {
               align-items: center;
               max-width: 442px;
               margin: 0 auto;
            }


            .text-block-title {
                margin-bottom: 20px;
                line-height: 62px;
                
                @media (max-width: 768px) {
                    margin-bottom: 20px;
                    line-height: 1;
                 }
            }

        }
    }
}