@import '../../styles/variables/variables';

.user-cases-section {
    width: 100%;
    margin: 0 auto;
    height: 795px;
    position: relative;
    background-color: #FFF;

    @media (max-width: 1280px) {
        height: auto;
     }

    .user-cases-content {
        max-width: 1518px;
        margin: 0 auto;

        
        @media (max-width: 768px) {
            padding: 0 19px; 
         }

         .cases-title {
            padding-bottom: 112px;
            line-height: 62px;

            @media (max-width: 1280px) {
                padding: 80px 0px 60px
             }

             @media (max-width: 768px) {
                padding-bottom: 40px;
             }

             @media (max-width: 480px) {
                padding-top: 60px;
             }
         }
    }
    
    .user-case-card:hover {
        transform: unset;
    }
    

    .swiper {
        padding-bottom: 72px;
        width: 100%;

        
        @media (max-width: 1280px) {
            padding-bottom: 66px;
            margin-bottom: 80px;
        }


        .user-case-card {
            min-width: 500px!important;
            opacity: 0.5;

            @media (max-width: 1517px) {
                min-width: unset!important;
            }

            @media (max-width: 1280px) {
                max-width: 658px;
                width: 100%;
            }

            @media (max-width: 960px) {
                max-width: 688px;
            }

            @media (max-width: 768px) {
                max-width: 442px!important;
            }

            @media (max-width: 480px) {
                max-width: 321px;
            }

            .user-case-content {
                width: calc(100% - 6px);
            }
        }


        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;

            &-active {
                .user-case-card {
                    opacity: 1;
                }
            }

            &-prev.hide {
                visibility: hidden;
            }

        
        }

        .swiper-pagination {
            column-gap: 27px;
            display: flex;
            justify-content: center;

            .swiper-pagination-bullet {
                width: 8px;
                height: 8px;
                background: $color_accent;
                opacity: 0.3;

                @media (max-width: 768px) {
                    width: 6px;
                    height: 6px;
                }

                &:hover {
                    opacity: 1;
                }

                
            }

            .swiper-pagination-bullet-active {
                width: 12px;
                height: 12px;
                opacity: 1;

                @media (max-width: 768px) {
                  width: 10px;
                  width: 10px;
                }
                
            }
        }

    }
}