@import '../../styles/variables/variables';

.user-cases-section {
    width: 100%;
    margin: 0 auto;
    height: 795px;
    position: relative;
    background-color: #FFF;

    .user-cases-content {
        max-width: 1518px;
        margin: 0 auto;
    }
    
    .user-case-card:hover {
        transform: unset;
    }
    

    .swiper {
        padding-bottom: 60px;
        width: 100%;


        .user-case-card {
            min-width: 500px!important;
            opacity: 0.5;

            @media (max-width: 1517px) {
                min-width: unset!important;
            }

            .user-case-content {
                width: calc(100% - 6px);
            }
        }


        .swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;

            &-active {
                .user-case-card {
                    opacity: 1;
                }
            }

        
        }

        .swiper-pagination {
            column-gap: 27px;
            display: flex;
            justify-content: center;

            .swiper-pagination-bullet {
                width: 8px;
                height: 8px;
                background: $color_accent;
                opacity: 0.3;
            }

            .swiper-pagination-bullet-active {
                width: 12px;
                height: 12px;
                opacity: 1;
            }
        }

    }
}