@import '../../styles/variables/variables';

.user-cases-section {
    width: 100%;
    max-width: 1518px;
    margin: 0 auto;
    height: 795px;
    position: relative;
    
    .user-case-card:hover {
        transform: unset;
    }
    
    .cursor-icon {
        position: absolute;
        top: 90%;
        right: 43%;
        transition: opacity 0.3s ease;
    }

    .user-cases-swiper {
        padding-bottom: 60px;

        .user-case-card {
            
            .user-case-content {
                width: calc(100% - 6px);
            }
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            cursor: grab;
        }

        .swiper-pagination {
            column-gap: 27px;
            display: flex;
            justify-content: center;

            .swiper-pagination-bullet:last-child {
                opacity: 1;
            }

            .swiper-pagination-bullet {
                width: 8px;
                height: 8px;
                background: $color_accent;
                opacity: 0.3;
            }

            .swiper-pagination-bullet-active {
                width: 12px;
                height: 12px;
                opacity: 1;
            }
        }

        .swiper-slide-prev,
        .swiper-slide-next {
            .user-case-card {
                background: #A1A1A1;
                color: #A1A1A1;

                .case-title:before {
                    background:#A1A1A1;
                }
                
            }
          }
    }
}