.two {

   .benefit-content {
   
    @media (max-width: 1280px) {
        flex-direction: column!important;
        
    }

   }
    .arrow-medium {
        position: absolute;
        z-index: 1;
        top: 25%;
        left: 40%;

    }

    .text-block-text {
        max-width: 580px;

        @media (max-width: 960px) {
            max-width: 100%;  
        }
    }
}