@import '../../styles/variables/variables';

.hero-section {
    height: 100vh;
    width: 100%;

    .hero-content {
        max-width: 1228px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        min-height:600px;
    }

    .hero-intro {
        width: 52%;
        margin-top: 45px;

        h1 {
            font-size: 70px;
            font-weight: 800;

            p {
                font-size: 60px;
            }
        }

        .typewriter-container {
            display: flex;
            column-gap: 20px;
            font-weight: 600;
            text-wrap: nowrap;
            margin-bottom: 20px;

            .Typewriter__cursor {
                color: $color_accent;
            }
        }

        .intro-desc {
            font-size: 24px;
            font-weight: 700px;
            letter-spacing: -0.24px;

            span {
                font-weight: 700;
            }
        }
    }

    .hero-early-acess {
        width: 41%;
    }

}