.step-three-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .step-title-box {
        position: relative;
        height: 102px;
        width: 803px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 1280px) {
            width: 709px;
            height: 164px;
            text-align: center;
            margin-bottom: 8px;
        }

        @media (max-width: 768px) {
           height: 91px;
           width: 302px;
        }

        img {
            position: absolute;
            top: 32%;
            left: 50%;
            transform: translate(-50%, -50%);

            @media (max-width: 1280px) {
                top: 48%;
                left: 50%;
                content: url("../../assets/step-three-decour-medium.svg");
            }

            @media (max-width: 768px) {
                top: 45%;
                width: 302px;
                content: url("../../assets/step-three-decour-small.svg");
            }
        }

    }

    .step-three-title {
        font-size: 56px;
        font-weight: 700;
        margin-bottom: 34px;
        z-index: 5;

        @media (max-width: 1280px) {
            line-height: 1;
            margin-bottom: 0;
        }


        @media (max-width: 768px) {
            font-size: 32px;
            max-width: 288px;
        }

    }

    .step-three-text {
        max-width: 604px;
        font-size: 20px;
        letter-spacing: -0.2px;
        margin-bottom: 40px;
        text-align: center;

        @media (max-width: 1280px) {
            max-width: 596px;

            br {
                display: inline;
            }
        }

        @media (max-width: 768px) {
           font-size: 14px;
           max-width: 416px;
           margin-bottom: 20px;
        }

        @media (max-width: 480px) {
            max-width: 253px;
         }

    }

    .custom-button {
        width: 604px;

        @media (max-width: 1280px) {
            width: 319px;
        }

        @media (max-width: 960px) {
            width: 334px;
        }
    }
}