.arrow-small {
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 42%;
    transform: translateY(-100%);
}

.three {
    @media (min-width: 1280px) {
        .user-case-card:hover {
            transform: rotate(-3deg);
        }
    }
}