@import "../../styles/variables/variables";

header {
    background: rgba(250, 250, 245, 0.50);
    backdrop-filter: blur(5px);
    padding: 28px 0px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color_black;
    text-align: center;
    font-family: $main-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 1228px;
    margin: 0 auto;

    .header-logo {
        width: 150px;
        height: 23px;
    }

    .header-nav {
        display: flex;
        justify-content: space-between;
        column-gap: 60px;

        a {
            display: inline-flex;
            flex-direction: column;
            position: relative;

            span {
                visibility: hidden;
                white-space: nowrap;
                position: relative;
            }

            .hover-item {
                position: absolute;
                visibility: visible;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                white-space: nowrap;
                font-weight: normal;
            }


            &:hover .hover-item {
                text-decoration-line: underline;
                font-weight: 700;
            }


            &:active .hover-item {
                font-weight: 800;
            }


            &::after {
                content: attr(data-text);
                content: attr(data-text) / "";
                height: 0;
                visibility: hidden;
                overflow: hidden;
                user-select: none;
                pointer-events: none;
                font-weight: 700;
            }
        }

    }

    .get-started-btn {
        font-weight: 700;
        text-decoration-line: underline;
        width: 159px;

        @media (max-width: 1280px) {
            display: none;
        }


        &.hidden {
            visibility: hidden;
        }

        &:hover {
            font-weight: 900;
        }
    }
}