@import "../../styles/variables/variables";

header {
    background: rgba(250, 250, 245, 0.50);
    backdrop-filter: blur(5px);
    padding: 28px 0px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    @media (max-width: 960px) {

        &.active {
            background: rgba(250, 250, 245, 0.9);
            height: 100vh;
            backdrop-filter: blur(5px);
            width: 100%;

            .join-btn {
                display: block;
            }

            .all-rights-header {
                display: block;
            }
        }

    }


    .all-rights-header {
        display: none;
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 10px;
        font-weight: 500;
        opacity: 0.5;
    }

    @media (max-width: 1280px) {
        padding: 28px 40px;
    }

    @media (max-width: 768px) {
        padding: 20px;
    }

    .join-btn {
        display: none;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color_black;
        text-align: center;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        max-width: 1228px;
        margin: 0 auto;

        @media (max-width: 960px) {
            width: 100%;
        }

        .menu-icon {
            display: none;
            position: absolute;
            right: 40px;
            cursor: pointer;
            transition: all 0.2s ease-in;

            &.active {
                transform: rotate(90deg);
            }

            @media (max-width: 960px) {
                display: block;
            }

            @media (max-width: 768px) {
                right: 20px;
            }
        }


        .header-logo {
            width: 150px;
            height: 23px;

            @media (max-width: 768px) {
                width: 125px;
                height: auto;
            }

        }

        .header-nav {
            display: flex;
            justify-content: space-between;
            column-gap: 60px;
            transition: all 0.5s ease-in-out;

            @media (max-width: 1280px) {
                column-gap: 67px;
            }

            @media (max-width: 960px) {
                position: absolute;
                display: flex !important;
                flex-direction: column;
                align-items: center;
                width: 100%;
                left: 50%;
                transform: translate(-50%, -100vh) !important;
                top: 127px;
                row-gap: 73px;

                &.active {
                    transform: translate(-50%, 0vh) !important;
                }


            }


            a {
                display: inline-flex;
                flex-direction: column;
                position: relative;

                span {
                    visibility: hidden;
                    white-space: nowrap;
                    position: relative;
                }

                .hover-item {
                    position: absolute;
                    visibility: visible;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    white-space: nowrap;
                }


                &:hover .hover-item {
                    text-decoration-line: underline;
                    font-weight: 700;
                }


                &:active .hover-item {
                    font-weight: 800;
                }


                &::after {
                    content: attr(data-text);
                    content: attr(data-text) / "";
                    height: 0;
                    visibility: hidden;
                    overflow: hidden;
                    user-select: none;
                    pointer-events: none;
                    font-weight: 700;
                }
            }

        }

        .get-started-btn {
            font-weight: 700;
            text-decoration-line: underline;
            width: 159px;

            @media (max-width: 1280px) {
                display: none;
            }


            &.hidden {
                visibility: hidden;
            }

            &:hover {
                font-weight: 900;
            }
        }
    }
}