.text-block {
    width: 604px;

    .text-block-title {
        font-size: 56px;
        font-weight: 700;
        margin-bottom: 18px;
        line-height: 100%;
    }

    .text-block-text {
        font-size: 20px;
        margin-bottom: 40px;
    }

}