@import '../../styles/variables/variables';

.form-section {
    height: 704px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 124px;

    .text-block-title {
        margin-bottom: 24px;
        padding-top: 8px;
    }
    .text-block-text {
        margin-bottom: 0;
    }

    .form-body-block {
        width: 500px;
        background-color: white;
    }
}