.features-section {
    height: 1054px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1280px) {
        padding: 0px 40px;
        height: auto;
    }

    @media (max-width: 768px) {
        padding: 0px 19px;
    }


    .features-title-box {
        position: relative;
        display: flex;
        height: 84px;
        width: 433px;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 151px 0 101px 0;

        @media (max-width: 1280px) {
            margin: 72px 0 46px 0;
        }

        @media (max-width: 768px) {
            height: 52px;
            width: 100%;
            
            .features-title {
                font-size: 32px;
            }
          }

        img {
            position: absolute;
            width: 433px;
            top: 52%;
            left: 51%;
            transform: translate(-50%, -50%);

            @media (max-width: 768px) {
                width: 263px;
                content: url("../../assets/title-decour-small.svg");
              }
        }

    }

    .features-title {
        padding: 0;
        z-index: 1;
    }

    .features-list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 60px;

        @media (max-width: 1280px) {
            margin-bottom: 40px;
        }

        @media (max-width: 768px) {
            gap: 14px;
        }

    }

    .custom-button {
        width: 397px;
        height: 52px;

        @media (max-width: 1280px) {
            width: 319px;
            margin-bottom: 80px;
        }

        @media (max-width: 960px) {
            width: 334px;
        }

        @media (max-width: 768px) {
            margin-bottom: 70px;
        }

        @media (max-width: 480px) {
           width: 320px;
        }
    }
}