@import '../../styles/variables/variables';

.footer {
    height: 619px;
    width: 100%;
    background: $color-black;
    border-radius: 20px 20px 0px 0px;
    color: $color-white;
    position: relative;
    overflow: hidden;
    padding-top: 76px;

    @media(max-width: 768px) {
        padding-top: 70px;
    }

    .footer-content {
        width: 1228px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 68fr 32fr;

        @media(max-width: 1280px) {
            width: 100%;
            padding: 0 38px;
        }

        @media(max-width: 768px) {
            grid-template-columns: 1fr;
            text-align: center;
            font-size: 14px;
        }

        a {
            &:hover {
                color: $color_accent;
                text-decoration: underline;
                font-weight: 600;
            }

            &:active {
                font-weight: 800;
            }
        }

        .column-title {
            opacity: 0.5;
            margin-bottom: 18px;

            @media(max-width: 768px) {
               margin-bottom: 12px;
            }
        }

        .column-item {
            margin-bottom: 18px;

            @media(max-width: 768px) {
                margin-bottom: 12px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .allRights-column {
            width: 100%;

            @media(max-width: 768px) {
                margin-bottom: 60px;

                p {
                    display: none;
                }
            }

            .footer-logo {
                margin-bottom: 18px;
            }
        }

        .right-column {
            display: flex;
            justify-content: space-between;

            @media(max-width: 768px) {
                flex-direction: column;
                align-items: center;
            }

            .nav-column {
                width: 188px;

                @media(max-width: 768px) {
                    margin-bottom: 30px;
                }

                li {
                    cursor: pointer;
                }
            }

            .contact-us-column {
                width: 131px;

                @media(max-width: 768px) {
                    margin-bottom: 100px;
                }
            }
        }

    }


    .footer-logo-big {
        position: absolute;
        bottom: -10px;
        animation: slideLeftRight 70s linear infinite;

        @media(max-width: 1280px) {
            width: 1019px;
            height: auto;
        }

        @media(max-width: 960px) {
            width: 732px;
        }

        @media(max-width: 768px) {
            display: none;
        }

    }

    .all-rights-bottom {
        display: none;
        width: fit-content;
        margin: 0 auto;
        opacity: 0.5;
        font-size: 14px;

        @media(max-width: 768px) {
            display: block;
        }

    }

    @keyframes slideLeftRight {
        from {
            left: -100%;
        }

        to {
            left: 100%;
        }

    }

}